<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title> Storege Clientes </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let cliente of clientes">
      <ion-avatar slot="start">
        <ion-img [src]="cliente.foto"></ion-img>
      </ion-avatar>
      <ion-label>
        <h3>{{cliente.nombre}}</h3>
        <p>{{cliente.celular}}</p>
        <p>{{cliente.direccion}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/addclient']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
